/node_modules/
/dist/
*.min.js

# Игнорировать файлы конфигурации IntelliJ IDEA
.idea/
.vscode/
*.iml

# Игнорировать временные файлы
out/
*.class
*.jar
*.war
*.ear

# Игнорировать файлы, специфичные для среды разработки
*.log
*.tmp

# Игнорировать пользовательские настройки
*.user
*.sublime-workspace>

# Игнорировать системные файлы   
.DS_Store
